<%- include ('../partials/header.ejs') %>
<%= include ('../partials/navbar.ejs')
<body>
<div>
    <hr>
    <div class="card" >
        
    </div>
    <form>
        <input type="text" name="title" placeholder="Defina o titulo da categoria">
        <br>
        <button class="btn-sucess">Cadastrar</button>
    </form>
</div>
<h2>Cadastro de Categoria</h2>
></body>

<%- include ('../partials/footer.ejs') %>